* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
  background-image: url('bg.jpeg');
  background-size: cover;
  background-position: top center;
  background-color: black;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3.5px solid rgb(48, 209, 88);
  color: black;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

input::placeholder {
  color: black;
}

header input:focus {
  background-color: transparent;
  color: white;
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}

.location .date {
  color: #FFF;
  font-size: 20px;
}

.current .temp {
  color: #FFF;
  font-size: 90px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
  margin-bottom: -2px;
}

.current .temp span {
  font-weight: 500;
}

.current .weather {
  color: #FFF;
  font-size: 35px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 25px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

.current .weather-icon {
  background-color: transparent;
  margin-bottom: 5px;
}

#lowerleft {
  height: 50px;
  color: #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 15px;
  font-size: 22px;
  font-weight: 400;
  position: relative;
  left: 0;
  bottom: 0;
}

.search-btn {
  background: rgb(48, 209, 88);
  margin-left: 10px;
  margin-bottom: 2px;
  border: 2px solid rgb(48, 209, 88);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: .650rem 1rem;
}

.search-btn:hover,
.search-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: rgb(48, 209, 88);
}

.search-btn:active {
  opacity: .5;
}

.location-btn {
  background: rgb(48, 209, 88);
  margin-top: 20px;
  border: 2px solid rgb(48, 209, 88);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 16px;
  padding: 0.7rem;
  transition: all 0.5s;
  cursor: pointer;
}

.location-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.location-btn span:after {
  content: '📍';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.location-btn:hover span {
  padding-right: 25px;
}

.location-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.self_page {
  text-decoration: none;
  color: inherit;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #FFFFFF;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(48, 209, 88);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}